/* Drop */
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
html {
  font-size: 10px;
  font-family: roboto, 'Courier New', Courier, monospace !important;
  scroll-behavior: smooth; }

._wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden; }

._container {
  max-width: 1076px;
  margin: 0 auto; }

._section {
  width: 100%; }

._ibg {
  position: relative; }
  ._ibg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

._button {
  width: 220px;
  height: 65px;
  font-size: 2.1rem;
  color: white;
  border-radius: 40px;
  font-weight: 600;
  transition: ease 0.3s; }
  ._button:hover {
    transform: translate(0, -10px) scale(1.2, 1.2);
    box-shadow: 0 10px 20px black; }

.section-first {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("https://assets.gq.ru/photos/5e81a0be39ca8300083c87f4/16:9/w_2560%2Cc_limit/0.jpg") no-repeat fixed;
  background-size: cover; }

.section-first__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  padding: 0 25px; }

.section-first__block {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 40px; }

.section-first__title {
  -webkit-text-fill-color: white;
  font-size: 6.2rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 100px; }
  .section-first__title span {
    -webkit-text-fill-color: #ffc26c;
    font-weight: 900;
    -webkit-text-stroke: 0; }

.first-section__button {
  background: -webkit-linear-gradient(90deg, #ffde7a, #ffba52, #ffa05c);
  background: linear-gradient(90deg, #ffde7a, #ffba52, #ffa05c);
  position: relative;
  overflow: hidden; }
  .first-section__button::after {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    transform: translate(-150%, 0) rotate(45deg);
    width: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 200%;
    animation: buttonSplice infinite ease running 3s; }

.section-about {
  box-shadow: 0 -30px 30px rgba(0, 0, 0, 0.7);
  height: 100vh;
  background: -webkit-linear-gradient(90deg, #ffe6b8, #f8fadb, #ffffff);
  background: linear-gradient(90deg, #ffe6b8, #f8fadb, #ffffff); }

.section-about._intersection_active .section-about__container {
  transform: translate(0, 0); }

.section-about__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: content-box;
  padding: 0 25px; }

.section-about__text {
  font-size: 3.2rem;
  text-align: center;
  line-height: 50px; }

.section-about__text_comp {
  font-weight: 900;
  color: #ffc26c;
  font-size: 3.8rem; }

.section-picture {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("https://images.wbstatic.net/wbkids_articles_editor/preview/bb9fbc4e-dd12-4c24-b759-207295f798aa.jpg") no-repeat fixed;
  background-size: cover; }

.section-shop {
  box-shadow: 0 -30px 30px rgba(0, 0, 0, 0.7);
  background: -webkit-linear-gradient(-90deg, #ffe6b8, #f8fadb, #ffffff);
  background: linear-gradient(-90deg, #ffe6b8, #f8fadb, #ffffff); }

.section-shop__head {
  font-size: 6.2rem;
  font-weight: 700;
  margin: 50px 0; }

.section-shop__container {
  box-sizing: content-box;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.section-shop__cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.section-shop__card {
  height: 400px;
  max-width: 800px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: ease 0.3s; }
  .section-shop__card:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    transform: translate(0, -10px); }

.section-shop__img {
  width: 320px;
  height: 250px; }

.section-shop__text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.section-shop__title {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 5px; }

.section-shop__desc {
  font-size: 2.1rem;
  font-weight: 300;
  margin-bottom: 20px; }

.section-shop__price {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 5px;
  color: #ffe0b5; }

@keyframes buttonSplice {
  from {
    transform: translate(-150%, 0) rotate(45deg); }
  to {
    transform: translate(1700%, 0) rotate(45deg); } }
