@charset "UTF-8";
.footer {
  height: 300px;
  color: white;
  background: -webkit-linear-gradient(171deg, #393939, #0b0b0b);
  background: linear-gradient(171deg, #393939, #0b0b0b); }

.footer__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.footer__logo {
  font-size: 8.2rem;
  margin-bottom: 30px;
  color: white;
  text-shadow: 0 0 10px black;
  transition: 0.3s ease;
  cursor: pointer; }
  .footer__logo:hover {
    transform: translate(0, -5px);
    text-shadow: 0 0 20px black; }

.footer__datalist {
  text-align: center; }
  .footer__datalist li {
    font-size: 1.5rem;
    margin-bottom: 3px;
    color: #afb5b5; }
  .footer__datalist li:nth-child(1) {
    font-size: 2.1rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: white; }

/* Drop */
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
@font-face {
  font-family: "Marck Script";
  src: url("/fonts/MarckScript-Regular.ttf"); }

@font-face {
  font-family: "Zapf ChanceC";
  src: url("/fonts/ofont.ru_Zapf ChanceC.ttf"); }

@font-face {
  font-family: "New Standard Old";
  src: url("/fonts/'ofont.ru_New Standard Old.ttf'"); }

@font-face {
  font-family: "Monotype Corsiva";
  src: url("/fonts/monotypecorsiva.ttf"); }

html {
  font-size: 10px;
  font-family: alegreya, roboto, 'Courier New', Courier, monospace !important;
  scroll-behavior: smooth; }

._wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden; }

._container {
  max-width: 1200px;
  margin: 0 auto; }

._section {
  width: 100%; }

._ibg {
  position: relative; }
  ._ibg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

._button {
  width: 220px;
  height: 65px;
  font-size: 2.1rem;
  color: white;
  border-radius: 40px;
  font-weight: 600;
  transition: ease 0.3s;
  background: -webkit-linear-gradient(90deg, #ffddbf, #ffc797, #ffb575);
  background: linear-gradient(90deg, #ffddbf, #ffc797, #ffb575); }
  ._button:hover {
    transform: translate(0, -10px) scale(1.2, 1.2) skew(3deg, 3deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    background: -webkit-linear-gradient(90deg, #ffddbf, #ffc797, #ffb575);
    background: linear-gradient(90deg, #ffddbf, #ffc797, #ffb575); }

a {
  color: inherit; }

.contact {
  position: fixed;
  top: 0;
  right: -60px;
  z-index: 100;
  height: 100%;
  background: -webkit-linear-gradient(171deg, #393939, #0b0b0b);
  background: linear-gradient(171deg, #393939, #0b0b0b);
  width: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  transition: 0.3s ease; }

.contact._active {
  right: 0; }

.contact__box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 50px;
  height: 50px;
  background-color: #393939;
  position: absolute;
  top: 40px;
  left: -50px;
  border-radius: 20px 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: center; }

.contact__box_burger {
  margin-left: 3px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative; }
  .contact__box_burger:hover span, .contact__box_burger:hover::before, .contact__box_burger:hover::after {
    background-color: #ffc592; }
  .contact__box_burger span, .contact__box_burger:before, .contact__box_burger:after {
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: white;
    transition: 0.3s ease; }
  .contact__box_burger:before, .contact__box_burger:after {
    content: ""; }
  .contact__box_burger span {
    top: 50%;
    transform: translate(0, -50%); }
  .contact__box_burger:before {
    top: 0; }
  .contact__box_burger:after {
    bottom: 0; }

.contact__box_burger._active span, .contact__box_burger._active:before {
  top: 50%;
  transform: translate(0, -50%); }

.contact__box_burger._active span {
  opacity: 0; }

.contact__box_burger._active:before {
  transform: translate(0, -50%) rotate(45deg); }

.contact__box_burger._active:after {
  bottom: 50%;
  transform: translate(0, 50%) rotate(-45deg); }

.contact__menu {
  font-size: 3rem; }

.contact__list {
  color: white; }
  .contact__list li:not(:last-child) {
    margin-bottom: 30px; }
  .contact__list li {
    text-shadow: 0 0 10px black;
    transition: 0.3s ease; }
  .contact__list li:hover {
    color: #ffc592;
    transform: translate(0, -5px) scale(1.1, 1.1); }

.section-first {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("../img/jpeg/intro.jpg") no-repeat;
  background-size: cover; }

._desk .section-first {
  background-attachment: fixed; }

.section-first__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  padding: 0 25px;
  animation: ease firstAppear 1.5s; }

.section-first__block {
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 40px; }

.section-first__title {
  font-size: 6.2rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 100px;
  color: white; }
  .section-first__title span {
    font-weight: 900;
    color: #ffc592;
    font-family: "Monotype Corsiva"; }

.first-section__button {
  background: -webkit-linear-gradient(90deg, #ffde7a, #ffba52, #ffa05c);
  background: linear-gradient(90deg, #ffde7a, #ffba52, #ffa05c);
  position: relative;
  overflow: hidden;
  animation: gradientFlow ease 1.5s infinite alternate; }

.section-about {
  box-shadow: 0 -30px 30px rgba(0, 0, 0, 0.7);
  height: 100vh;
  background: -webkit-linear-gradient(90deg, #ffddbf, #f8fadb, #ffffff);
  background: linear-gradient(90deg, #ffddbf, #f8fadb, #ffffff);
  position: relative; }

.section-about._intersection .section-about__container {
  animation: appearSide 1.5s ease; }

.section-about__toPic {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 2.1rem;
  font-weight: 200;
  cursor: pointer;
  transition: ease 0.3s; }
  .section-about__toPic::after {
    content: "";
    margin-top: 10px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.9);
    width: 1px;
    display: block;
    position: relative;
    left: 50%;
    transition: ease 0.3s; }
  .section-about__toPic:hover {
    transform: translate(-50%, -80px) scale(2, 2);
    color: #ffc592; }
    .section-about__toPic:hover::after {
      height: 0; }

.section-about._intersection_active .section-about__container {
  transform: translate(0, 0); }

.section-about__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-sizing: content-box;
  padding: 0 25px; }

.section-about__text {
  font-size: 3.2rem;
  text-align: center;
  line-height: 50px; }

.section-about__text_comp {
  font-weight: 900;
  color: #ffc592;
  font-family: "Monotype Corsiva";
  font-size: 3.8rem; }

.section-picture {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("../img/jpeg/contact.jpeg") no-repeat;
  background-size: cover;
  position: relative; }

._desk .section-picture {
  background-attachment: fixed; }

.section-picture._intersection .section-picture__container {
  animation: appearSideRev 1.5s ease; }

.section-picture__toShop {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 2.1rem;
  font-weight: 200;
  cursor: pointer;
  transition: ease 0.3s;
  color: white; }
  .section-picture__toShop::after {
    content: "";
    margin-top: 10px;
    height: 60px;
    background-color: white;
    width: 1px;
    display: block;
    position: relative;
    left: 50%;
    transition: ease 0.3s; }
  .section-picture__toShop:hover {
    transform: translate(-50%, -80px) scale(2, 2);
    color: #ffc592; }
    .section-picture__toShop:hover::after {
      height: 0; }

.section-picture__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  box-sizing: content-box;
  padding: 0 25px; }

.section-picture__phone {
  font-size: 5.2rem;
  margin-bottom: 30px;
  font-weight: 500;
  transition: ease 0.3s; }
  .section-picture__phone:hover {
    color: #ffc592;
    transform: translate(0, -10px) scale(1.1, 1.1); }

.section-picture__email {
  font-size: 5.2rem;
  margin-bottom: 100px;
  font-weight: 500;
  transition: ease 0.3s; }
  .section-picture__email:hover {
    color: #ffc592;
    transform: translate(0, -10px) scale(1.1, 1.1); }

.section-picture__social {
  color: white;
  font-size: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .section-picture__social div:not(:last-child) {
    margin-right: 40px; }
  .section-picture__social div {
    cursor: pointer;
    transition: ease 0.3s; }
    .section-picture__social div:hover {
      color: #ffc592;
      transform: translate(0, -10px) scale(1.1, 1.1); }

.section-shop {
  box-shadow: 0 -30px 30px rgba(0, 0, 0, 0.7);
  background: -webkit-linear-gradient(-90deg, #ffddbf, #f8fadb, #ffffff);
  background: linear-gradient(-90deg, #ffddbf, #f8fadb, #ffffff); }

.section-shop._intersection .section-shop__container {
  animation: appearSideRev 1.5s ease; }

.section-shop__head {
  font-size: 5.4rem;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Monotype Corsiva"; }
  .section-shop__head::after {
    content: "";
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 1px;
    transform: scale(3, 1);
    margin-top: 30px; }

.section-shop__nav {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  align-self: center;
  justify-content: center; }

.section-shop__menu {
  display: flex;
  justify-content: center;
  align-items: center; }
  .section-shop__menu li._active:after {
    opacity: 1;
    width: 100%; }
  .section-shop__menu li:not(:last-child) {
    margin-right: 100px; }
  .section-shop__menu li {
    font-size: 2.4rem;
    align-self: center;
    color: #707070;
    position: relative;
    transition: 0.3s ease;
    cursor: pointer; }
    .section-shop__menu li:hover {
      transform: scale(1.2, 1.2);
      color: #ffc592; }
    .section-shop__menu li:after {
      content: "";
      display: block;
      width: 100%;
      position: absolute;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.2);
      margin-top: 6px;
      opacity: 0;
      transition: 0.3s ease;
      width: 0; }
    .section-shop__menu li:hover:after {
      opacity: 1;
      background-color: #ffc592;
      width: 100%; }

.section-shop__container {
  box-sizing: content-box;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.section-shop__cards {
  display: none; }

.section-shop__cards._active {
  animation: shopAppear ease 1.5s;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }
  .section-shop__cards._active .section-shop__card::after {
    content: "заказать";
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: 800;
    color: white;
    z-index: 10;
    transition: ease 0.3s; }
  .section-shop__cards._active .section-shop__card:hover::after {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.3, 1.3); }
  .section-shop__cards._active .section-shop__card::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: ease 0.3s; }
  .section-shop__cards._active .section-shop__card:hover::before {
    opacity: 0.2; }

.section-shop__card {
  height: 420px;
  width: 350px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: ease 0.3s;
  position: relative;
  margin: 0 10px 10px 0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .section-shop__card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: translate(0, -20px); }

.section-shop__img {
  height: 600px;
  align-self: stretch; }

.section-shop__text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px; }

.section-shop__title {
  font-size: 3.2rem;
  font-weight: 600;
  margin: 15px 0; }

.section-shop__desc {
  font-size: 2.1rem;
  font-weight: 300;
  margin-bottom: 20px; }

.section-shop__price {
  font-size: 2.1rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #ffc592; }

.section-shop__order {
  position: relative;
  overflow: hidden;
  margin: 40px 0;
  animation: gradientFlow ease 1.5s infinite alternate; }

.section-info {
  background: -webkit-linear-gradient(171deg, #393939, #0b0b0b);
  background: linear-gradient(171deg, #393939, #0b0b0b);
  box-shadow: 0 -30px 30px rgba(0, 0, 0, 0.7);
  position: relative; }

.section-info__container {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: white;
  box-sizing: content-box;
  padding: 0 200px; }

.section-info._intersection .section-info__container {
  animation: appearSide 1.5s ease; }

.section-info__list {
  margin-top: 50px; }

.section-info__el {
  margin-bottom: 30px; }
  .section-info__el p {
    font-size: 1.4rem;
    overflow: hidden;
    transition: 0.3s ease;
    height: 0; }

.section-info__el._active p {
  height: 50px; }

.section-info__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  .section-info__title h1 {
    font-size: 2.7rem;
    font-weight: 700; }

.section-info__cross {
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer; }
  .section-info__cross:hover::before, .section-info__cross:hover::after {
    background-color: #ffc592; }
  .section-info__cross::before, .section-info__cross::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 0;
    transition: 0.3s ease; }
  .section-info__cross::before {
    transform: translate(0, -50%) rotate(90deg); }
  .section-info__cross::after {
    transform: translate(0, -50%); }

.section-info__cross._active::before {
  transform: translate(0, -50%) rotate(45deg); }

.section-info__cross._active::after {
  transform: translate(0, -50%) rotate(-45deg); }

.section-info__toShopV2 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 2.1rem;
  font-weight: 200;
  cursor: pointer;
  transition: ease 0.3s;
  color: white; }
  .section-info__toShopV2::after {
    content: "";
    margin-top: 10px;
    height: 60px;
    background-color: white;
    width: 1px;
    display: block;
    position: relative;
    left: 50%;
    transition: ease 0.3s; }
  .section-info__toShopV2:hover {
    transform: translate(-50%, -80px) scale(2, 2);
    color: #ffc592; }
    .section-info__toShopV2:hover::after {
      height: 0; }

@keyframes buttonSplice {
  from {
    transform: translate(-150%, 0) rotate(45deg); }
  to {
    transform: translate(1700%, 0) rotate(45deg); } }

@keyframes gradientFlow {
  from {
    box-shadow: 0 0 0 #ffddbf, 0 0 0 #ffb575; }
  to {
    box-shadow: -7px -7px 0 #ffddbf, 7px 7px 0 #ffb575; } }

@keyframes firstAppear {
  from {
    transform: translate(0, -50%);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes appearSide {
  from {
    transform: translate(-50%, 0);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes appearSideRev {
  from {
    transform: translate(50%, 0);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes shopAppear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media (max-width: 1150px) {
  .section-shop__cards {
    justify-content: center !important; }
  .section-shop__card {
    margin-bottom: 10px;
    width: 400px;
    height: 550px; }
  .section-shop__menu li:not(:last-child) {
    margin-right: 50px; } }

@media (max-width: 1000px) {
  .section-info__list {
    margin-top: 50px; }
  .section-info__el p {
    font-size: 1.1rem; } }

@media (max-width: 900px) {
  .section-info__container {
    padding: 0 100px; }
  .section-info__title h1 {
    font-size: 2.1rem; }
  .section-info__cross {
    width: 20px;
    height: 20px; } }

@media (max-width: 767px) {
  .section-info__container {
    padding: 0 40px; }
  .section-info__cross {
    width: 15px;
    height: 15px; }
  .section-shop__menu li:not(:last-child) {
    margin-right: 20px; }
  .section-shop__menu li {
    font-size: 1.8rem; }
  .section-first__title {
    font-size: 5.2rem; }
  .section-about__text {
    font-size: 2.1rem;
    text-align: center;
    line-height: 25px;
    margin-bottom: 30px; }
  .section-about__text_comp {
    font-weight: 900;
    color: #ffc592;
    font-size: 3.4rem; }
  .section-picture__phone {
    font-size: 3rem; }
  .section-picture__email {
    font-size: 3rem; }
  .section-picture__social {
    font-size: 5.4rem; }
  .section-shop__head {
    font-size: 5.4rem; }
    .section-shop__head::after {
      content: "";
      display: block;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      height: 1px;
      transform: scale(1.5, 1);
      margin-top: 30px; } }

@media (max-width: 520px) {
  .section-shop__cards {
    flex-direction: column; }
  .section-shop__card {
    margin-bottom: 10px;
    width: 370px;
    height: 500px; }
  .section-shop__menu li:not(:last-child) {
    margin-right: 10px; } }

@media (max-width: 400px) {
  .section-info__container {
    padding: 0 15px; }
  .section-picture__phone {
    font-size: 2.7rem; }
  .section-picture__email {
    font-size: 2.7rem; }
  .section-picture__social {
    font-size: 5rem; }
  .section-shop__card {
    margin-bottom: 10px;
    width: 300px;
    height: 450px; }
    .section-shop__card .section-shop__desc {
      font-size: 1.8rem; } }

@media (max-width: 300px) {
  .section-shop__menu li:not(:last-child) {
    margin-right: 5px; }
  .section-shop__menu li {
    font-size: 1.5rem; } }
