@import "header.scss";
@import "footer.scss";
@import "tech.scss";
@import "vars.scss";
@import "keyframes.scss";

// main
.main {
}

// section-first 
.section-first {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("https://assets.gq.ru/photos/5e81a0be39ca8300083c87f4/16:9/w_2560%2Cc_limit/0.jpg") no-repeat fixed;
    background-size: cover;
    
}

.section-first__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgba(0,0,0,0.4);
    // box-shadow: 0 0 20px black;
    box-sizing: content-box;
    padding: 0 25px;
}

.section-first__block {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 40px;
}
.section-first__title {
    // color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: orange 1px;
    font-size: 6.2rem;
    font-weight: 800;
    text-align: center;
    padding-bottom: 100px;
    span {
        -webkit-text-fill-color: orange;
        
        -webkit-text-stroke: 0;
    }
}
.first-section__button {
    background: -webkit-linear-gradient(90deg, #ffde7a,#ffba52,#ffa05c);
    background: linear-gradient(90deg, #ffde7a,#ffba52,#ffa05c);
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        top: -30px;
        left: 0;
        transform: translate(-150%, 0) rotate(45deg);
        width: 30px;
        background-color: rgba(255, 255, 255, 0.5);
        height: 200%;
        animation: buttonSplice infinite ease running 3s;

    }

}

.section-first__img {

}

// section-about
.section-about {
    box-shadow: 0 -30px 30px rgba(0,0,0,0.7);
    height: 100vh;
    background: -webkit-linear-gradient(90deg, #ffdc9a,#f8fadb,#ffffff);
    background: linear-gradient(90deg, #ffdc9a,#f8fadb,#ffffff);
}

.section-about._intersection_active .section-about__container {
    transform: translate(0, 0);
}

.section-about__container {
    // transform: translate(-200%, 0);
    // transition: ease 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.section-about__text {
    font-size: 3.2rem;
    text-align: center;
    line-height: 50px;
}
.section-about__text_comp {
    font-weight: 900;
}

// section-picture
.section-picture {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("https://images.wbstatic.net/wbkids_articles_editor/preview/bb9fbc4e-dd12-4c24-b759-207295f798aa.jpg") no-repeat fixed;
    background-size: cover;
}

// Keyframes
@keyframes buttonSplice {
    from {
        transform: translate(-150%, 0) rotate(45deg);
    }
    to {
        transform: translate(1700%, 0) rotate(45deg);
    }
}